* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
}


.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

.left-side-bar {
    background-color: rgb(63, 159, 255);
    color: white;
}

.left-side-bar ul {
    font-size: 1.1rem;
    font-weight: 700;
    padding-left: calc(1rem + 12.5px);
}

.left-side-bar ul li {
    display: flex;
    /* width: fit-content; */
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
}



.left-side-bar ul li:nth-child(6) {
    margin-bottom: 4rem;
}

.left-side-bar ul svg {
    width: 25px;
    margin-right: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    padding: 1rem 0 2rem 1rem;
}

.logo-image svg {
    width: 50px;
    margin-right: 1rem;
}

.logo-image svg{
    color: white;
}

.main {
    display: grid;
    grid-template-rows: 100px 1fr;
    background-color: red;
}

.header {
    background-color: white;
}

.content {
    background-color: rgb(235, 235, 235);
}

li {
  list-style-type: none;  
}
