* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
}


.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

.left-side-bar {
    background-color: rgb(43, 152, 221);
    color: white;
}


.icon {
    display: flex;
    justify-content: center;
    width: 5rem;
}

h1 {
    font-size: 1.5rem;
}

li {
    list-style-type: none;  
  }


.logo {
    display: flex;
    align-items: center;
    padding: 1.5rem 0 2.5rem 0;
}

.logo-image svg {
    width: 40px;
}

.logo-image svg{
    color: white;
}

.left-side-bar ul {
    font-size: 1.2rem;
    font-weight: bold;
}

.left-side-bar ul li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.left-side-bar ul li:nth-child(6) {
    margin-bottom: 4rem;
}

.left-side-bar ul svg {
    width: 25px;
}

.main {
    display: grid;
    grid-template-rows: 100px 1fr;
}

.header {
    background-color: white;
}

.content {
    background-color: rgb(235, 235, 235);
}


